@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-position: inside;
}

:root {
  --main-font: "Open Sans", sans-serif;
}

body {
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  // background-color: black;
}

a {
  color: #000;
  font-family: var(--main-font);
}

button,
input {
  border: none;
  outline: none;
  font-family: var(--main-font);
}

button {
  cursor: pointer;
  background-color: transparent;
}

.active {
  background-color: rgba(255, 255, 255, 0.5);
}
